* {
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}
#banner{
  display: flex;
  justify-content: center;
}

#game {
  display: flex;
  justify-content: center;
}

#controls {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

#controls button {
  background-color: lightgrey;
  border: none;
  width: 8rem;
  height: 2rem;
  border: 1px solid darkgray;
  border-radius: 4px;
  margin: 0 0.2rem 0 0.2rem;
}

#controls button:hover {
  background-color: darkgray;
}

.board__row {
  font-size: 0;
}

.cell__button {
  height: 0.7rem;
  width: 0.7rem;
  background-color: white;
  border: 0.7px solid lightgrey;
  margin: 0;
  padding: 0;
}

.cell__button:hover {
  background-color: lightgray;
}

.cell__button--alive {
  background-color: darkgray;
}

.cell__button--alive:hover {
  background-color: slategray;
}
